
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">淙淙个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="index">网站首页</a></li>
                <li><a href="about">关于我</a></li>
                <!--<li><a href="share">项目分享</a></li>-->
                <li><a href="lists">学无止境</a></li>
                <!--<li><a href="info">个人日记</a></li>-->
                <!--<li><a href="gbook">留言</a></li>-->
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a href="index">网站首页</a></li>
                <li><a href="about">关于我</a></li>
                <!--<li><a href="share">模板分享</a></li>-->
                <li><a href="lists">学无止境</a></li>
                <!--<li><a href="info">个人日记</a></li>-->
                <!--<li><a href="gbook">留言</a></li>-->
            </ul>
        </nav>
    </div>
</header>